*~
*.lock
*.DS_Store
*.swp
*.out
*.o
*.lo
*.la
*_test
*.log
*.status
.deps/
.libs/
autom4te.cache/
gflags/src/gflags/gflags.h
gflags/src/gflags/gflags_completions.h
gtest/Makefile.in
src/config.h
src/stamp-h1
vcdiff
libtool
Makefile
